@import "bootstrap";


//.jumbotron{
//  margin-top: -20px;
//  height: 35em;
//  padding-top: 9em;
//  margin-bottom: 2em;
//  background-image: url("Sbh58eU.jpg");
//  background-size: cover;
//  color: #fff;
//  text-align: center;
//}

.btn.btn-info {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    margin: -82px;
    position: relative;
    height: 100vh;
    margin-bottom: 40px;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(01.jpeg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(02.jpeg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(03.jpeg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}




/**
 * 22.0 Footer
 * ----------------------------------------------------------------------------
 */


.site-footer {
  background-color: #2c3439;
  margin-bottom: -1px;
}

.site-footer .widget-area,
.sidebar .site-footer {
  text-align: left;
}

.site-footer ul {
  line-height: 1.8em;
  vertical-align: middle;
}

.site-footer a {
  color: #999;
  font-weight: 300;
  font-size: 13px;
  font-family: "Verb", Helvetica, sans-serif;
  -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.site-footer #secondary.sidebar-container {
  padding: 90px 0;
  margin: 0 auto;
  width: 980px;
  overflow: auto;
}
.site-footer #more-links .widget {
  width: 100%;
}

#more-links #secondary.sidebar-container {
  padding: 0;
  overflow: visible;
  height:0;
}

#more-footer-links.widget-area.masonry {
  height: auto !important; /*pricing page bug fix */
}

.site-footer .widget-area {
  margin: 0 auto;
  display: inline-block;
}

.sidebar .site-footer .widget-area {
  max-width: 724px;
  position: relative;
}

.site-footer .widget {
  background: transparent;
  color: #fff;
  float: left;
  margin-right: 0;
  width: 50%;
}

.sidebar .site-footer .widget {
  width: 326px;
}

.sidebar .site-footer .widget:nth-of-type(4),
.sidebar .site-footer .widget:nth-of-type(3) {
  margin-right: 0;
}
x
.site-footer .widget a {
  color: #999;
  font-size: 15px;
  font-weight: 200;
  font-family: "Verb", Helvetica, sans-serif;
    background: url('./images/footer-link-hover.png') -9999px -9999px no-repeat;
}

.site-footer .widget a:hover,
.site-footer .widget a:active {
  color: #8bd0ef;
  text-decoration: none;
}

.site-footer .widget a:hover:after {
    content: url('./images/footer-link-hover.png');
    padding-left: 4px;
}

.site-footer .widget-title,
.site-footer .widget-title a,
.site-footer .wp-caption-text {
  color: #fff;
  font-family: "Verb Condensed", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  /*border-bottom: 5px solid #8bd0ef;*/
}

.site-info {
  background: #242a2d;

}

.site-info #copyright-links {
  margin: 0 auto;
  width: 980px;
  padding: 42px 0 38px 0;
  overflow: auto;
}

.site-info #copyright-links img {
  width: 60px;
  position: relative;
  margin-left: 30px;
}

.site-info #copyright-links #copyright p {
  color: #999;
  font-weight: 200;
  font-size: 11px;
  float: left;
  float: right;
  margin: 11px 0 0 0;
}

.site-info #copyright-links #copyright {
  float: left;
  width: 44%;
  overflow: auto;
  height: 40px;
}
.site-info #copyright-links #more-links {
  float: right;
  width: 44%;
  overflow: hidden;
  height: 40px;
}
.site-info #copyright-links #more-links .widget {
  background: transparent;
  padding: 0;
}

.site-info #copyright-links #more-links ul {
  margin-top: 8px;
  padding: 0;
}

.page-template-templatespricing-template-php .site-info #copyright-links #more-links ul {
  margin-top: 9px;
  padding: 0;
}
.site-info #copyright-links #more-links ul li {
  display: inline;
  font-size: 12px;
  font-weight: 200;
  padding-left: 3px;
}


.site-info #copyright-links #more-links ul li a {
  color: #999;
  font-size: 11px;
  font-weight: 300;
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
    background: url('./images/footer-link.svg') -9999px -9999px no-repeat;
}

.site-info #copyright-links #more-links ul li a:hover,
.site-info #copyright-links #more-links ul li a:active {
  text-decoration: none;
  color: #fff;
}

.site-info #copyright-links #more-links ul li a:after {
    content: url('./images/footer-link.svg');
    padding-left: 5px;
}

.site-info #copyright-links #more-links ul li:last-child a:hover {
  color: #f47837;
}

#wpstats {
  display: block;
  margin: -10px auto 0;
}

#footer-links.widget-area aside + aside + aside,
#footer-links.widget-area aside + aside + aside + aside {
  padding: 0;
}

/***************

  social links
     styles

***************/

#connect-with-raven li a {
  padding-left: 20px;
}

#connect-with-raven li a:hover,
#connect-with-raven li a:active {
  color: #8bd0ef;
  text-decoration: none;
}

#connect-with-raven li:nth-of-type(1) a /* twitter */ {
  background: url('./images/footer-social-sprite.svg') 0px 3px no-repeat;
}

#connect-with-raven li:nth-of-type(1) a:hover,
#connect-with-raven li:nth-of-type(1) a:active /* twitter hover */ {
  background: url('./images/footer-social-sprite.svg') 0px -124px no-repeat;
}

#connect-with-raven li:nth-of-type(2) a /* facebook */ {
  background: url('./images/footer-social-sprite.svg') 1px -23px no-repeat;
}

#connect-with-raven li:nth-of-type(2) a:hover,
#connect-with-raven li:nth-of-type(2) a:active /* facebook hover */ {
  background: url('./images/footer-social-sprite.svg') 1px -149px no-repeat;
}

#connect-with-raven li:nth-of-type(3) a /* linkedin */ {
  background: url('./images/footer-social-sprite.svg') 0px -48px no-repeat;
}

#connect-with-raven li:nth-of-type(3) a:hover,
#connect-with-raven li:nth-of-type(3) a:active /* linkedin hover */ {
  background: url('./images/footer-social-sprite.svg') 0px -174px no-repeat;
}

#connect-with-raven li:nth-of-type(4) a /* google+ */ {
  background: url('./images/footer-social-sprite.svg') 0px -75px no-repeat;
}

#connect-with-raven li:nth-of-type(4) a:hover,
#connect-with-raven li:nth-of-type(4) a:active /* google+ hover */ {
  background: url('./images/footer-social-sprite.svg') 0px -199px no-repeat;
}

#connect-with-raven li:nth-of-type(5) a /* pinterest */ {
  background: url('./images/footer-social-sprite.svg') 0px -97px no-repeat;
}

#connect-with-raven li:nth-of-type(5) a:hover,
#connect-with-raven li:nth-of-type(5) a:active /* pinterest hover */ {
  background: url('./images/footer-social-sprite.svg') 0px -224px no-repeat;
}




