

<footer id="colophon" class="site-footer" role="contentinfo">


  </div>

  <!-- #secondary -->

      <div class="site-info">
        <div id="copyright-links">
          <div id="copyright">
            <p>&copy; 2015 BreadBox. All Rights Reserved.</p>
          </div>
            <img src="http://breadbox.com.br/wp-content/uploads/2014/01/topo8.png" alt="Compilation" />

          <div id="more-links">
              <div id="secondary" class="sidebar-container" role="complementary">
    <div class="widget-area" id="more-footer-links">
      <aside  >

      </aside>
    </div>
  </div><!-- #secondary -->
          </div>
        </div>
      </div>
    </footer>
